/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body{
    font-size: 12px;
}

ol, ul {
	list-style: none;
}


#nftList {
    display: flex;
    flex-wrap: wrap;
}

#nftList li.nft-item {
    width: 300px;
    padding: 15px 15px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#nftList li p {
}

div.nft-source {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

p.nft-type {
}

p.nft-name {
    font-size: 16px;
    font-weight: 600;
}

p.nft-desc{
    line-height: 14px;
}

ul.address-list li{
    margin-top: 5px;
}

ul.address-list li span:hover {
    cursor: pointer;
}

#inputAddress {
    width: 350px;
}

ul.attributes-list{
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
}
